.auth {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    &__body {
        color: var(--white);
        padding: 50px 30px 40px 30px;
        border-radius: 20px;
        background-color: var(--dark2);
    }
    &__content {
        margin: 0 auto;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    &__logo {
        margin-bottom: 20px;
        text-align: center;
        svg {
            path {
                fill: var(--main-blue);
            }
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__input-box {
        border-radius: 9999px;
        background-color: var(--dark3);
        margin-bottom: 20px;
        input {
            color: var(--white);
            font-size: 18px;
            padding: 10px 20px;
            width: 100%;
            background-color: transparent;
            &::placeholder {
                color: var(--dark6);
            }
        }
    }
    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__submit {
        background-color: var(--main-blue);
        color: var(--white);
        font-weight: 700;
        display: inline-block;
        font-size: 18px;
        width: 100%;
        padding: 10px 20px;
        border-radius: 9999px;
    }
    &__options {
        margin: 15px 0 0 0;
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    &__option {
        cursor: pointer;
        color: var(--white);
        font-size: 14px;
        margin-right: 15px;
        position: relative;
        transition: .2s ease;
        &::after {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: var(--white);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -9px;
        }
        &:hover {
            color: var(--main-blue);
        }
        &:last-child {
            margin: 0;
            &::after {
                display: none;
            }
        }
    }
}
