.profile {
    border-right: 1px solid var(--dark4);
    border-left: 1px solid var(--dark4);
    &-btn-back {
        padding: 5px 15px;
        display: flex;
        button {
            margin-right: 35px;
            background-color: transparent;

        }
    }
    &-name {
        flex: 1 1 100%;
        p {
            font-size: 19px;
            line-height: 23px;
            color: var(--white);
        }
        span {
            font-size: 13px;
            line-height: 16px;
            color: var(--dark6);
        }
    }
    &-avatar-edit {
        padding: 0 15px 0 11px;
        display: flex;
        align-items: center;                
        justify-content: space-between;
        transform: translateY(-50%);
    }
    &-avatar {
        width: 139px;
        height: 139px;
        border-radius: 99999px;
        border: 4px solid var(--dark1);
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-edit-btn {
        color: var(--main-blue);
        font-size: 15px;
        font-weight: 700;
        line-height: 19px;
        padding: 10px 17.5px;
        border: 1px solid var(--main-blue);
        border-radius: 9999px;
        background-color: transparent;
        transform: translateY(50%);
        position: relative;
        top: 10px;
        transition: 0.2s ease-out;
        &:hover {
            background-color: var(--main-blue);
            color: var(--white);
        }
    }
    &-bg {
        width: 100%;
        min-height: 200px;
        &.loading {
            background-color: var(--dark6);
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
    &-info {
        margin-top: -60px;
        padding: 0 15px 15px 14px;
    }
    &-user-name {
        font-size: 21px;
        line-height: 25px;
        color: var(--white);
        font-weight: 700;
    }
    &-user-id {
        display: inline-block;
        color: var(--dark6);
        line-height: 19px;
        margin-bottom: 10px;
        font-weight: 500;
    }
    &-spec {
        line-height: 19px;
        color: var(--white);
        font-weight: 500;
        margin-bottom: 10px;
    }
    &-data {
        display: flex; 
        line-height: 19px;
        color: var(--dark6);
        margin-bottom: 10px;
        li {
            display: flex;
            margin-right: 10px;
            align-items: center;
            img {
                margin-right: 5px;
            }
        }
    }
    &-stats {
        display: flex;
        align-items: center;
        line-height: 19px;
        div {
            display: flex;
        }
        span {
            margin-right: 4px;
            color: var(--white);
            font-weight: 700;
        }
        p {
            color: var(--dark6);
        }
    }
    &-following {
        margin-right: 18px;
    }
    &-buttons {
        border-bottom: 1px solid var(--dark4);
        display: flex;
        button {
            cursor: pointer;
            width: 100%;
            background-color: transparent;
            padding: 16px 0;
            font-weight: 700;
            line-height: 19px;
            color: var(--dark6);
            position: relative;
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: var(--main-blue);
                bottom: 0;
                left: 0;
                opacity: 0;
                position: absolute;
            }
            &.active {
                color: var(--main-blue);
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.edit-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    &-body {
        padding: 20px;
        background-color: var(--dark2);
        border-radius: 40px;
    }
    &-close-btn {
        text-align: right;
        cursor: pointer;
    }
    &-profile-pic {
        margin-bottom: 20px;
        text-align: center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        label {
            &::after {
                border-radius: 50%;
            }
        }
    }
    &-profile-bg {
        text-align: center;
        max-width: 400px;
        img {
            max-width: 100%;
            object-fit: none;
        }
    }
    &-profile-pic, &-profile-bg {
        label {
            display: inline-block;
            height: 100%;
            position: relative;
            &::after {
                content: "";
                cursor: pointer;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                background: url(https://cdn-icons-png.flaticon.com/512/1828/1828817.png) no-repeat center / 30px 30px;
                background-color: #0000008e;
                transition: 0.2s ease;
                opacity: 0;
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
        input {
            width: 0;
            opacity: 0;
        }
        img {
            cursor: pointer;
            object-fit: cover;
        }
        p {
            margin-top: 10px;
        }
    }
}